.card-item .card_container {
    height: 350px;
    justify-content: center;
    align-items: center;
}

.card-item .card {
    border-radius: 14px;
    padding: 20px;

}

.card-item .card .card-container {
    width: 100%;
    height: 100%;
    background-color: #fff;

}

.card-item .card-container h4 {
    font-size: 26px;
    margin-bottom: 10px;
}

.card-item .card p {
    font-size: 17px;
}

.card-item.sponsors .card::before {
    position: absolute;
    content: '';
    background-color: #fc5185;
    height: 35px;
    width: 35px;
    top: 3rem;
    right: -23px;
    transform: rotate(45deg);
    z-index: 10;

}


.card-item.sponsors .card::after {
    position: absolute;
    content: attr(data-label);
    top: 27px;
    padding-left: 20px;
    padding: 10px;
    right: -31px;
    width: 8rem;
    background-color: #fc5185;
    z-index: 12;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    color: #fff;
}

.card-item img {
    height: 200px;
}