/* Main CSS theme */

body {
    background: #FAFAFA;
    color: #335145;
}

.inner {
    background: white;
    padding: 1.5rem;
}

.fa-solid {
    color: #A6C36F;
}

.container {
    margin-top: 50px;
    padding: 10px;
}

.bg-yellow {
    background: rgb(251, 243, 183);
    color: rgb(87, 81, 40);
}