{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnergyCompanyApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>

<header class="d-flex flex-wrap justify-content-center py-3 mb-4">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">EnergyCompanyApp</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
        {% if user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Log Out</a></li>
        {% else %}
        <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link">Sign Up</a></li>
        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Log In</a></li>
        {% endif %}
    </ul>
</header>

<body class="container">

    <div class="card inner">
        {% block content %}
        {% endblock %}
    </div>


</body>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
    <p class="col-md-4 mb-0 text-muted">© 2022 Company, Inc</p>

    <a href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
    </a>
</footer>

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
{% endblock %}

</html>