{% extends "base.html" %}

{% block content %}
<h2>{{utility}} Readings for {{username}} household</h2>
<img src="data:image/png;base64,{{ data }}" alt="" height="500" width="1200">
</br>
<h2>Units per day</h2>

<p><span><b>Last 90 days:</b></span> {{units_per_day__90}} </p>
<p><span><b>Last 3 days: </b></span> {{units_per_day__3}} </p>
<br/>
<h2>Growth Factor</h2>
<p><span><b>Growth Factor: </b></span> {{growth}} </p>

{% endblock %}