{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Forest</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/sponsors.css' %}" rel="stylesheet">
</head>

<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="header_img"> <img
                src="https://images.unsplash.com/photo-1528183429752-a97d0bf99b5a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80"
                alt=""> </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo">
                    <i class="fa-solid fa-tree"></i>
                    <span class="nav_logo-name">Virtual Forest</span>
                </a>
                <div class="nav_list">
                    <a href="{% url 'index' %}" class="nav_link {% if sidebar_active == 'home' %} active {% endif %}">
                        <i class="fa-solid fa-house"></i>
                        <span class="nav_name">Home</span>
                    </a>
                    <a href="{% url 'utilities' %}"
                        class="nav_link {% if sidebar_active == 'utilities' %} active {% endif %}">
                        <i class="fa-solid fa-lightbulb"></i>
                        <span class="nav_name">Utilities</span>
                    </a>
                    <a href="{% url 'sponsors' %}"
                        class="nav_link {% if sidebar_active == 'sponsors' %} active {% endif %}">
                        <i class="fa-solid fa-star"></i>
                        <span class="nav_name">Sponsors</span>
                    </a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="nav_link">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span class="nav_name">Log Out</span>
                    </a>
                    {% else %}
                    <a href="{% url 'signup' %}" class="nav_link">
                        <i class="fa-solid fa-user-plus"></i>
                        <span class="nav_name">Sign Up</span>
                    </a>
                    <a href="{% url 'login' %}" class="nav_link">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        <span class="nav_name">Log In</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
    <div class="height-100 bg-light">

        <body class="container">
            {% block content %}
            {% endblock %}
        </body>
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
            <p class="col-md-4 mb-0 text-muted">© 2022 Virtual Forest, Inc</p>
            <a href="/"
                class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
        </footer>
    </div>

    {% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e3ad714899.js" crossorigin="anonymous"></script>

    {% endblock %}

</html>