{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">
    <div class="card inner">
        <div class="row">
            <h2>Hello {{user_name}}!</h2>
            <div class="col-12">
                You currently have {{tree_points}} Tree Points
            </div>
            {{ forest_layout|json_script:"forestLayout" }}
            {{ canvas_width|json_script:"canvasWidth" }}
            {{ canvas_height|json_script:"canvasHeight" }}
            <div style="width: {{ canvas_width }}px">
                Here are your growing trees!
                <div id="virtual-forest-canvas"></div>
            </div>
        </div>
    </div>

    <div class="card p-2 bg-yellow">
        <div class="card-title d-flex"><img src="{% static 'img/lightbulb.png' %}" width="40px" height="40px" />
            <h4 class="m-0 align-middle"><b> Energy Saving Tip</b></h4>
        </div>
        <div class="card-body">
            <p class="card-text">{{energy_saving_tip}}</p>
        </div>
    </div>
</div>



<script src="{% static 'js/phaser.min.js' %}"></script>
<script rel="javascript" src="{% static 'js/gameMain.js' %}"></script>


{% endblock %}