{% extends "base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/sponsors.css' %}" rel="stylesheet">

{% block content %}
<h2>{{title}}</h2>

<div class="container">
    <div class="card-item sponsors row">
        {% for sponsor_post in sponsor_posts %}
        <div class="col-4">
            <div class="card_container">
                <div class="card" data-label="{{sponsor_post.banner}}">
                    <div class="card-container">
                        <h4>{{sponsor_post.title}}</h4>
                        <P>{{sponsor_post.description}}</P>
                        <div class="row">
                            <div class="col">
                                <img src="{% static sponsor_post.image %}" alt="Sponsor Image">
                            </div>
                        </div>
                        <div class="row">
                            <div class="spon-link">
                                From: <a href="#">
                                    <h5>{{sponsor_post.sponsor}}</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center"
    style="min-height: 200px;">
    <div id="bonus" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class=" toast-header">
            <strong class="mr-auto">Thanks for visiting our sponsors</strong>
        </div>
        <div class="toast-body">
            Here's an extra tree!
            <i class="fa-solid fa-tree"></i>
        </div>
    </div>
</div>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script src="{% static 'js/sponsors.js' %}"></script>
{% endblock %}