{% extends "base.html" %}

{% block content %}

{% load static %}


<div class="container">
    <div class="card-item">
        <div class="utilities row">
            {% for utility in utilities %}
            <div class="col-4">
                <div class="card_container">
                    <div class="card">
                        <div class="card-container">
                            <a href="utilities/{{utility.link}}">
                                <h4>{{utility.name}}</h4>
                            </a>
                            <div class="row">
                                <div class="col">
                                    <img src="{% static utility.image %}" alt="Utility Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}