{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="container">
    <div class="card inner">
        <h4>{{title}}</h4>

        <h5>Readings:</h5>
        <div>
            <em>Start Date:</em> {{start_date}}
        </div>
        <div>
            <em>End Date:</em> {{end_date}}
        </div>

        <hr>

        <h5>Trend:</h5>
        <div>
            <em>For past 3 days:</em> {{growth_factor}}
        </div>
        <div>
            <em>Average units for past 3 days:</em> {{average_units__3}}
        </div>
        <div>
            <em>Average units for past 90 days:</em> {{average_units__90}}
        </div>
    </div>
</div>

{% endblock %}